* {
	font-family: "georgia", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}	

body {
	margin: 0;
	background-color: #3e15a2;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#navbar {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: #664aae;
	z-index: 1;
}

#navbar p {
	float: left;
	display: block;
	color: #fee4a7;
	text-align: center;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
}
#navbar p:hover {
	background-color: #fee4a7;
	color: #3e15a2;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*TODO: Tweak image max-height after text is formatted.  */
.detailed {
	max-height: 800px;
	max-width: 100%;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
}


.gallery:hover {
	background-color: #FFFFFF;
	opacity: 0.80;
	transition: linear 0.2s;
}

.titletext {
	color: #FEE4A7;
}

.descriptiontext {
	color: #f9fda6;
}
